<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>BunnyREST</servlet-name>
        <servlet-class>com.eweware.fluffle.rest.BunnyREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerRest</servlet-name>
        <servlet-class>com.eweware.fluffle.rest.PlayerREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreREST</servlet-name>
        <servlet-class>com.eweware.fluffle.rest.StoreREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TossREST</servlet-name>
        <servlet-class>com.eweware.fluffle.rest.TossREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatchREST</servlet-name>
        <servlet-class>com.eweware.fluffle.rest.CatchREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BunnyBreedREST</servlet-name>
        <servlet-class>com.eweware.fluffle.rest.BunnyBreedREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameREST</servlet-name>
        <servlet-class>com.eweware.fluffle.rest.GameREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginREST</servlet-name>
        <servlet-class>com.eweware.fluffle.rest.LoginREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutREST</servlet-name>
        <servlet-class>com.eweware.fluffle.rest.LogoutREST</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BunnyREST</servlet-name>
        <url-pattern>/api/v1/bunny</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CatchREST</servlet-name>
        <url-pattern>/api/v1/catch</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PlayerRest</servlet-name>
        <url-pattern>/api/v1/player</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StoreREST</servlet-name>
        <url-pattern>/api/v1/store</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TossREST</servlet-name>
        <url-pattern>/api/v1/toss</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BunnyBreedREST</servlet-name>
        <url-pattern>/api/v1/admin/breed</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>GameREST</servlet-name>
        <url-pattern>/api/v1/game</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginREST</servlet-name>
        <url-pattern>/api/v1/login</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>LogoutREST</servlet-name>
        <url-pattern>/api/v1/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StatusREST</servlet-name>
        <servlet-class>com.eweware.fluffle.admin.StatusREST</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StatusREST</servlet-name>
        <url-pattern>/api/v1/admin/status</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LeaderBoardsREST</servlet-name>
        <servlet-class>com.eweware.fluffle.rest.LeaderBoardsREST</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LeaderBoardsREST</servlet-name>
        <url-pattern>/api/v1/leaderboards</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrivacyPage</servlet-name>
        <jsp-file>/privacy.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrivacyPage</servlet-name>
        <url-pattern>/privacy</url-pattern>
    </servlet-mapping>

    <!-- static admin site -->
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <jsp-file>/adminsite/admin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminGame</servlet-name>
        <jsp-file>/adminsite/game.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminGame</servlet-name>
        <url-pattern>/admin/game</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminBunny</servlet-name>
        <jsp-file>/adminsite/bunnies.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminBunny</servlet-name>
        <url-pattern>/admin/bunnies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminPlayer</servlet-name>
        <jsp-file>/adminsite/players.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPlayer</servlet-name>
        <url-pattern>/admin/players</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminBreed</servlet-name>
        <jsp-file>/adminsite/breeds.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BreedREST</servlet-name>
        <servlet-class>com.eweware.fluffle.admin.BreedREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StarveREST</servlet-name>
        <servlet-class>com.eweware.fluffle.admin.StarveREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreUpdateREST</servlet-name>
        <servlet-class>com.eweware.fluffle.admin.StoreUpdateREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SadBunnyREST</servlet-name>
        <servlet-class>com.eweware.fluffle.admin.SadBunnyREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageREST</servlet-name>
        <servlet-class>com.eweware.fluffle.rest.UploadImageREST</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GiftREST</servlet-name>
        <servlet-class>com.eweware.fluffle.admin.GiftREST</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>GiftREST</servlet-name>
        <url-pattern>api/v1/admin/gift</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>UploadImageREST</servlet-name>
        <url-pattern>api/v1/uploadImage</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>SadBunnyREST</servlet-name>
        <url-pattern>api/v1/admin/sadbunny</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BreedREST</servlet-name>
        <url-pattern>api/v1/admin/dailybreed</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StarveREST</servlet-name>
        <url-pattern>api/v1/admin/dailystarve</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StoreUpdateREST</servlet-name>
        <url-pattern>api/v1/admin/updatestore</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>AdminBreed</servlet-name>
        <url-pattern>/admin/breeds</url-pattern>
    </servlet-mapping>


    <!-- listeners and filters -->
    <listener>
        <listener-class>com.eweware.fluffle.FluffleServerListener</listener-class>
    </listener>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>